{% extends 'base.html' %}
{% block content %}
<!-- Custom styles for this template -->
<link href="/static/css/logo-nav.css" rel="stylesheet">
<div class="content-wrapper">
   <div class="container-fluid">
      <section class="content-header">
         <h1>
            Broadcast Crisis
         </h1>
      </section>
      <!-- Breadcrumbs -->
      <ol class="breadcrumb">
         <li class="breadcrumb-item">
            <a href="home">Home</a>
         </li>
         <li class="breadcrumb-item active"> Broadcast Crisis</li>
      </ol>
      <div class="row">
         <!-- Left col -->
         <!-- TABLE: LATEST ORDERS -->
         <div class="box box">
            <div class="box-header with-border">
               <h3 class="box-title"> 	 Broadcast Crisis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <!-- Example Tables Card -->
               <div class="card mb-3">
                  <div class="card-header">
                     <!--<i class="fa fa-tv"></i>-->
                  </div>
                  <div class="card-body">
                     <!-- Page Content -->
                     <!-- quick email widget -->
                     <form action="#" method="post">
                        <div class="form-group">
                           <p>&nbsp;</p>
                           <input type="text" class="form-control" name="subject" placeholder="Subject">
                        </div>
                        <div>
                           <ul class="wysihtml5-toolbar" style="">
                           <li class="dropdown">
                              <a class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                              <span class="glyphicon glyphicon-font"></span>
                              <span class="current-font">Normal text</span>
                              <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Normal text</a></li>
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Heading 1</a></li>
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Heading 2</a></li>
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Heading 3</a></li>
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Heading 4</a></li>
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Heading 5</a></li>
                                 <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Heading 6</a></li>
                              </ul>
                           </li>
                           <li>
                              <div class="btn-group">
                                 <a class="btn  btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Bold</a>
                                 <a class="btn  btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Italic</a>
                                 <a class="btn  btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Underline</a>
                                 <a class="btn  btn-default" data-wysihtml5-command="small" title="CTRL+S" tabindex="-1" href="javascript:;" unselectable="on">Small</a>
                              </div>
                           </li>
                           <li>
                              <a class="btn  btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" data-wysihtml5-display-format-name="false" tabindex="-1" href="javascript:;" unselectable="on">
                              <span class="glyphicon glyphicon-quote"></span>
                              </a>
                           </li>
                           <li>
                              <div class="btn-group">
                                 <a class="btn  btn-default" data-wysihtml5-command="insertUnorderedList" title="Unordered list" tabindex="-1" href="javascript:;" unselectable="on">
                                 <span class="glyphicon glyphicon-list"></span>
                                 </a>
                                 <a class="btn  btn-default" data-wysihtml5-command="insertOrderedList" title="Ordered list" tabindex="-1" href="javascript:;" unselectable="on">
                                 <span class="glyphicon glyphicon-th-list"></span>
                                 </a>
                                 <a class="btn  btn-default" data-wysihtml5-command="Outdent" title="Outdent" tabindex="-1" href="javascript:;" unselectable="on">
                                 <span class="glyphicon glyphicon-indent-right"></span>
                                 </a>
                                 <a class="btn  btn-default" data-wysihtml5-command="Indent" title="Indent" tabindex="-1" href="javascript:;" unselectable="on">
                                 <span class="glyphicon glyphicon-indent-left"></span>
                                 </a>
                              </div>
                           </li>
                           <li>
                              <div class="bootstrap-wysihtml5-insert-link-modal modal fade" data-wysihtml5-dialog="createLink">
                                 <div class="modal-dialog ">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <a class="close" data-dismiss="modal">×</a>
                                          <h3>Insert link</h3>
                                       </div>
                                       <div class="modal-body">
                                          <div class="form-group">
                                             <input value="http://" class="bootstrap-wysihtml5-insert-link-url form-control" data-wysihtml5-dialog-field="href">
                                          </div>
                                          <div class="checkbox">
                                             <label> 
                                             <input class="bootstrap-wysihtml5-insert-link-target" checked="" type="checkbox">Open link in new window
                                             </label>
                                          </div>
                                       </div>
                                       <div class="modal-footer">
                                          <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
                                          <a href="#" class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save">Insert link</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <a class="btn  btn-default" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on">
                              <span class="glyphicon glyphicon-share"></span>
                              </a>
                           </li>
                           <li>
                              <div class="bootstrap-wysihtml5-insert-image-modal modal fade" data-wysihtml5-dialog="insertImage">
                                 <div class="modal-dialog ">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <a class="close" data-dismiss="modal">×</a>
                                          <h3>Insert image</h3>
                                       </div>
                                       <div class="modal-body">
                                          <div class="form-group">
                                             <input value="http://" class="bootstrap-wysihtml5-insert-image-url form-control" data-wysihtml5-dialog-field="src">
                                          </div>
                                       </div>
                                       <div class="modal-footer">
                                          <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
                                          <a class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save" href="#">Insert image</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <a class="btn  btn-default" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1" href="javascript:;" unselectable="on">
                              <span class="glyphicon glyphicon-picture"></span>
                              </a>
                           </li>
                        </div>
                        <!-- /.container -->
                        <div>
                           <textarea class="textarea" placeholder="Please enter your broadcast message"
                              style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                     </form>
                     <div class="box-footer clearfix">
                        <p>&nbsp;</p>
                        <button type="button" class="pull-right btn btn-default" id="sendEmail" style="float: right;">Send
                        <i class="fa fa-arrow-circle-right"></i></button>
                     </div>
                  </div>
                  <div class="card-footer small text-muted">
                     Updated: {{ updateTime }}
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
         </div>
      </div>
   </div>
</div>
<!-- /.box-body -->
</div>
</div>  
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Ionicons -->
<link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
{% endblock %}