
			
			<h4 class="reportHeader"> Crisis Resolution Plan </h4>

				 <div class="form-row">
					<label for="txtPlanID" class="col-form-label col-md-2">Plan ID/Status:</label>
					<div class="form-group col-md-2">
					  <input type="text" class="form-control" id="txtPlanID" value="003 Approved" readonly>
					</div>
					 <label for="txtPlanReceipt" class="col-form-label col-md-2 offset-1 text-left">Plan Receipt:</label>
					<div class="form-group col-md-1">
					  <input type="text" class="form-control" id="txtPlanReceipt" value="003" readonly>
					</div>
				  </div>
				  
			
				  
				 <div class="form-row">
				   <div class="form-group">
					<label for="txtPlanDescription">Plan Description:</label>
					<textarea class="form-control col-md-8" id="txtPlanDescription" rows="5" readonly value="bombing at changi">Bombing at Changi</textarea>
				  </div>

				<div class="form-row">
					<!--<label for="txtProjectedCrisisRadius" class="col-form-label col-md-2 text-left" id="lblProjectedCrisisRadius">Projected Crisis Radius:</label>
					<div class="form-group col-md-3">
					  <input type="text" class="form-control" id="txtProjectedCrisisRadius" value="{{ planItem.plan_projRadius }} m" readonly>
					</div>-->
					<label for="txtProjectedCrisisResolution" class="col-form-label col-md-2 text-left" id="lblProjectedCrisisResolution">Est. Resolution Time:</label>
					<div class="form-group col-md-3">
					  <input type="text" class="form-control" id="txtProjectedCrisisResolution" value="1hour" readonly>
					</div>
					<label for="txtProjectedCasualties" class="col-form-label col-md-2 offset-1 text-left" id="lblProjectedCasualties">Projected Casualties:</label>
					<div class="form-group col-md-3">
					  <input type="text" class="form-control" id="txtProjectedCasualties" value="70% " readonly>
					</div>
				</div>
				  </div>		

			