{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
   <div class="container-fluid">
      <section class="content-header">
         <h1>
            Current Crisis
         </h1>
      </section>
      <!-- Breadcrumbs -->
      <ol class="breadcrumb">
         <li class="breadcrumb-item">
            <a href="/home">Home</a>
         </li>
         <li class="breadcrumb-item active">Current Crisis Reports</li>
      </ol>
      <div class="row">
         <!-- Left col -->
         <!-- TABLE: LATEST ORDERS -->
         <div class="box box">
            <div class="box-header with-border">
               <h3 class="box-title"> Current Crisis Reports</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <!-- Example Tables Card -->
               <div class="card mb-3">
                  <div class="card-header">
                     <!--<i class="fa fa-tv"></i>-->
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                           <thead>
								<tr height=30>
									<th style="text-align:center; color:white;" col width="200" bgcolor="black"> Case No. </th>
									<th style="text-align:center; color:white;" col width="200" bgcolor="black"> Emergency Level </th>
									<th style="text-align:center; color:white;" col width="200" bgcolor="black"> Case Name </th>
									<th style="text-align:center; color:white;" col width="200" bgcolor="black"> Date/Time Reported </th>
									<th style="text-align:center; color:white;" col width="200" bgcolor="black"> Authorization Status </th>
								</tr>
							       </thead>
								   <tbody>
								The table data entries
								{% for n in planEval %}
									{% for i in statusRep %}
										{% for j in cCrisis %}
											<tr>
												{% if forloop.parentloop.counter == forloop.counter %}
													{% if forloop.counter == forloop.parentloop.parentloop.counter %}
														{% if j.caseID == i.caseID_id %}
															{% if i.crisisStatus != "Closed" %}
																<td>{{j.caseID}}</td>
																<td>{{j.emergencyLevel}}</td>
																<td><a href="/crisis?caseID={{j.caseID}}">{{j.crisisName}}</a></td>
																<td>{{j.crsisDateTime}}</td>
																<td>{{n.authorizationStatus}}</td>
															{% endif %}
														{% endif %}
													{% endif %}
												{% endif %}
											</tr>
										{% endfor %}
									{% endfor %}
								{% endfor %}
                      </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="card-footer small text-muted">
                     Updated: {{ updateTime }}
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
         </div>
      </div>
   </div>
</div>
<!-- /.box-body -->

<!-- /.content-wrapper -->
{% endblock %}
